.joke {
  height: 155px;
  display: block;
  width: 270px;
  background-size: cover;
  background-position: center;
}

.joker {
  margin: 30px;
}

.one {
  background-image: url(/newPortfolio/img/coach-app.PNG);
}

.two {
  background-image: url(/newPortfolio/img/animated\ scroll\ image.PNG);
}

.three {
  background-image: url(/newPortfolio/img/joke\ bot\ image.PNG);
}
